*.sdf
*.user
Debug
Release
.vs
external-deps
html
*.opendb
*.ipch
*.vsp
*.psess
/notes
/unittests/test.bin
/unittests/test.txt

# res directories
/test-app/res/fonts
/test-app/res/glTF
/test-suite/res/fonts
/test-suite/res/glTF
/test-suite/res/textures
/unittests/res/fonts

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
